<section class="py-8 py-lg-9  bg-light">
  <div class="container">

    <h2 class="text-center mb-8">Entre em contato</h2>

    <div class="row">

      <!-- Cards de contato -->
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">

        <!-- Card de contatos -->
        <div class="shadow-sm bg-white rounded p-4 p-md-5 p-xl-6  mb-5   d-flex flex-column">
          <header class="mb-5">
            <svg width="100%" height="65" class="mb-3">
              <use xlink:href="#callcenter" />
            </svg>
            <h3>Ligue para gente</h3>
            <p class="text-in-light">Tem alguma dúvida, sugestão ou solicitação? <br /> Escreva para nós.</p>
          </header>

          <!-- Contatos -->
          <div class="d-flex mb-3">
            <svg width="32" height="32">
              <use xlink:href="#phone" />
            </svg>
            <div class="ml-3">
              <small class="d-block mb-1 text-in-light">Telefone</small>
              <strong>(77) 99592-5422</strong>
            </div>
          </div>

          <div class="d-flex">
            <svg width="32" height="36">
              <use xlink:href="#email" />
            </svg>
            <div class="ml-3">
              <small class="d-block mb-1 text-in-light">E-mail</small>
              <strong>contato@orbitapp.com</strong>
            </div>
          </div>
        </div>

        <!-- Card de endereço -->
        <div class="address-card   shadow-sm bg-secondary text-white rounded p-4 p-md-5 p-xl-6">
          <div class="d-flex">
            <svg width="32" height="36">
              <use xlink:href="#marker" />
            </svg>
            <div class="ml-3">
              <small class="text-in-dark">Endereço</small>
              <p>
                <strong>
                  Av. Afonso de Carvalho, 157 - Sala 12 <br/>
                  Barrio - Candeias <br />
                  Vitória da conquista - BA
                </strong>
              </p>
              <a class="text-primary mt-5 d-flex aling-items-center">
                <span>Ver rotas no google maps</span>
                <svg width="32" height="16" class="ml-3">
                  <use xlink:href="#arrow-right" />
                </svg>
              </a>
            </div>
          </div>
        </div>

      </div>

      <!-- Card de formulário -->
      <div class="col-12 col-md-10 col-lg-6">
        <form action="">

          <div class="control">
            <input type="text" id="nome" name="nome">
            <label for="nome">Nome:</label>
          </div>
          <div class="control">
            <input type="text" id="email" name="email">
            <label for="email">E-mail:</label>
          </div>

          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="control">
                <input type="text" id="estado" name="estado">
                <label for="estado">Estado:</label>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="control">
                <input type="text" id="Cidade" name="Cidade">
                <label for="Cidade">Cidade:</label>
              </div>
            </div>
          </div>

          <div class="control">
            <input type="text" id="assunto" name="assunto">
            <label for="assunto">Assunto:</label>
          </div>
          <div class="control">
            <textarea name="mensagem" id="mensagem"></textarea>
            <label for="nome">Mensagem:</label>
          </div>

          <button type="submit" class="btn btn-primary">Enviar menssagem</button>

        </form>
      </div>

    </div>

  </div>
</section>
