<section class="py-8">

  <div class="container mb-6">
    <div class="row">
      <div class="col-12 text-center text-in-light">
        São mais de <strong class="text-secondary">1500 clientes</strong>  em todo o Brasil. Não perca mais tempo e <strong class="text-secondary">entre em contato</strong> agora mesmo.
      </div>
    </div>
  </div>

  <div class="row flex-nowrap align-items-center">
    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
      <img class="w-100" src="../../../assets/images/Clientes/Intel.png" alt="Intel">
    </div>
    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
      <img class="w-100" src="../../../assets/images/Clientes/Microsoft.png" alt="Microsoft">
    </div>
    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
      <img class="w-100" src="../../../assets/images/Clientes/Sony.png" alt="Sony">
    </div>
    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
      <img class="w-100" src="../../../assets/images/Clientes/Spotify.png" alt="Spotify">
    </div>
    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
      <img class="w-100" src="../../../assets/images/Clientes/Uber.png" alt="Uber">
    </div>
    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
      <img class="w-100" src="../../../assets/images/Clientes/Walmart.png" alt="Walmart">
    </div>
  </div>

</section>
