<section class="py-8">
  <div class="container">
    <div class="row">

      <!-- Lista -->
      <div class="col-12 col-sm-10 col-md-8 col-xl-4   mb-6 mb-sm-7 mb-xl-0 ">
        <h2>A melhor experiência para sua empresa</h2>
        <p class="text-in-light  mb-3 mb-md-5">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor possimus doloribus, quia ullam mollitia suscipit soluta!
          Dolorem dignissimos distinctio, quam nobis maxime.
        </p>
        <ul class="text-in-light p-0">
          <li class="d-flex align-items-center mb-4">
            <svg class="tick mr-3">
              <use xlink:href="#tick" />
            </svg>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
          </li>
          <li class="d-flex align-items-center mb-4">
            <svg class="tick mr-3">
              <use xlink:href="#tick" />
            </svg>
            <p>Dolor possimus doloribus, quia ullam mollitia suscipit soluta!</p>
          </li>
          <li class="d-flex align-items-center mb-4">
            <svg class="tick mr-3">
              <use xlink:href="#tick" />
            </svg>
            <p>Dolorem dignissimos distinctio, quam nobis maxime, odio asperiores iste ratione amet, nemo velit molestias?</p>
          </li>
        </ul>
        <button class="btn btn-primary" type="button">
          Fazer download
        </button>
      </div>

      <!-- Slider -->
      <div class="slider-box   col-12 col-xl-8">
        <div class="row">

          <!-- Imagens -->
          <div class="slider-img   col-md-6  d-none d-md-block">
            <img src="../../../assets/images/Telas/01.png" alt="01" class="w-100">
          </div>

          <!-- Slider content -->
          <div class="col-12 col-md-6   py-5 py-md-7 py-xl-8">

            <!-- content -->
            <div class="mb-4">
              <h2 class="d-flex align-items-center">
                <svg class="gear mr-3">
                  <use xlink:href="#gear"/>
                </svg>
                <span>Integração</span>
              </h2>
              <p class="text-in-light">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor possimus doloribus, quia ullam mollitia suscipit soluta!
                Dolorem dignissimos distinctio.
              </p>
            </div>
            <!-- Slider controls -->
            <div>
              <div class="d-flex align-items-center  mb-4">
                <svg class="arrow-left mr-3"><use xlink:href="#arrow-left"/></svg>
                <svg class="arrow-right"    ><use xlink:href="#arrow-right"/></svg>
              </div>
              <div class="d-flex">
                <span class="dot"></span>
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
