<section class="py-8 bg-light">
  <div class="container">

    <div class="mb-7">
      <h2 class="text-center">Nosso Planos</h2>
      <p class="text-center text-in-light">
        Curabitur venenatis vitae mi vitae euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>

    <!-- Cards -->
    <div class="row justify-content-center">

      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center  mb-6 mb-lg-0">
        <div class="card aling-items-center   w-100 p-5 border-0 shadow">
          <header class="text-center">
            <h3 class="mb-4">Bronze</h3>
          </header>
          <div class="my-6">
            <div class="d-flex justify-content-center mb-4">
              <div class="d-flex">
                <small>R$</small>
                <h2 class="mx-3 mb-0">28,00</h2>
                <small class="mt-auto">/mês</small>
              </div>
            </div>
            <ul class="p-0 text-center text-in-light">
              <li class="py-3">1 E-mail</li>
              <li class="py-3">30gb de Armazenamento</li>
              <li class="py-3">10 Usuários</li>
              <li class="py-3">10 Projetos Integrados</li>
              <li class="py-3">Suporte Premium</li>
            </ul>
          </div>
          <footer>
            <button type="button" class="w-100 btn btn-primary">Assinar</button>
          </footer>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-6 mb-lg-0">
        <div class="card w-100 p-5 border-0 shadow  bg-secondary text-white">
          <header class="text-center">
            <h3 class="mb-4">Ouro</h3>
          </header>
          <div class="my-6">
            <div class="d-flex justify-content-center mb-4">
              <div class="d-flex">
                <small>R$</small>
                <h2 class="mx-3 mb-0">50,00</h2>
                <small class="mt-auto">/mês</small>
              </div>
            </div>
            <ul class="p-0 text-center text-in-dark">
              <li class="py-3">E-mails Ilimitados</li>
              <li class="py-3">100gb de Armazenamento</li>
              <li class="py-3">100 Usuários</li>
              <li class="py-3">35 Projetos Integrados</li>
              <li class="py-3">Suporte Premium</li>
            </ul>
          </div>
          <footer>
            <button type="button" class="w-100 btn btn-primary">Assinar</button>
          </footer>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card aling-items-center   w-100 p-5 border-0 shadow">
          <header class="text-center">
            <h3 class="mb-4">Prata</h3>
          </header>
          <div class="my-6">
            <div class="d-flex justify-content-center mb-4">
              <div class="d-flex">
                <small>R$</small>
                <h2 class="mx-3 mb-0">92,00</h2>
                <small class="mt-auto">/mês</small>
              </div>
            </div>
            <ul class="p-0 text-center text-in-light">
              <li class="py-3">E-mails Ilimitados</li>
              <li class="py-3">200gb de Armazenamento</li>
              <li class="py-3">250 Usuários</li>
              <li class="py-3">100 Projetos Integrados</li>
              <li class="py-3">Suporte Premium</li>
            </ul>
          </div>
          <footer>
            <button type="button" class="w-100 btn btn-primary">Assinar</button>
          </footer>
        </div>
      </div>

    </div>

  </div>
</section>
