<section class="py-8 py-xl-9   text-white">
  <div class="container">

    <div class="row  justify-content-center mb-6 text-center">
      <div class="col-12 col-md-10 col-lg-8">
        <h2>Newsletter</h2>
        <p class="text-in-dark">
          Cadastre-se em nossa newsletter e receba gratiuitamente conteúdos relevantes, promoções e novidades da Orbit App.
        </p>
      </div>
    </div>

    <!-- Formulariozinho -->
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <form action="">
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="control h-100">
                <input type="email" id="newsletter-email" class="w-100 h-100" placeholder="Seu melhor E-mail"/>
              </div>
            </div>
            <div class="col-8 col-md-4">
              <button type="submit" class="w-100 btn btn-primary">Cadastrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
