<app-svgs></app-svgs>


<app-navbar class="fixed-top" ></app-navbar>

<div class="banner">
  <!-- A fins de estilização haverá navbar fantasma com a mesma altura da navbar, por garantia também terá o msm fundo que o CTA -->
  <div #ghostNavbar class="bg-light"></div>

  <app-cta id="cta" class="app-cta"></app-cta>

</div>

<!-- id's serão utilizados como alvo para scroll -->
<app-video id="video" class="my-8"></app-video>
<app-features id="features" class="my-8"></app-features>
<app-functionalities id="functionalities"></app-functionalities>
<app-cta2 id="cta2"></app-cta2>
<app-clients id="clients" class="my-8"></app-clients>
<app-pricing id="pricing"></app-pricing>
<app-newsletter id="newsletter"></app-newsletter>
<app-contact id="contact"></app-contact>
<app-footer id="footer"></app-footer>
