<section class="py-8 bg-secondary text-white">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-xl-4   d-flex flex-column mb-xl-7">
        <svg width="40" height="48" class="mb-4">
          <use xlink:href="#icon-1" />
        </svg>
        <h2>Inteligente</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure rem cumque quidem
          unde neque quia corrupti doloribus, illum asperiores quos officiis,
          est esse debitis ducimus rerum facere tempora atque.
        </p>
      </div>

      <div class="col-12 col-md-6 col-xl-4   d-flex flex-column mb-xl-7">
        <svg width="48" height="48" class="mb-4">
          <use xlink:href="#icon-2" />
        </svg>
        <h2>Funcional</h2>
        <p>
          Velit iure rem cumque quidemunde neque quia corrupti doloribu
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure rem cumque quidem
          unde neque quia corrupti doloribu
        </p>
      </div>

      <div class="col-12 col-md-6 col-xl-4   d-flex flex-column mb-xl-7">
        <svg width="48" height="48" class="mb-4">
          <use xlink:href="#icon-3" />
        </svg>
        <h2>Prático</h2>
        <p>
          illum asperiores quos officiis, est esse debitis ducimus rerum facere tempora atque. Velit iure rem cumque quidem
          unde neque quia corrupti doloribus, illum asperiores quos officiis,
          est esse debitis ducimus rerum facere tempora atque.
        </p>
      </div>

      <div class="col-12 col-md-6 col-xl-4   d-flex flex-column mb-xl-7">
        <svg width="46" height="48" class="mb-4">
          <use xlink:href="#icon-4" />
        </svg>
        <h2>Bonito</h2>
        <p>
          facere tempora atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure rem cumque quidem
          unde neque quia corrupti doloribus, illum asperiores quos officiis,
          est esse debitis ducimus rerum
        </p>
      </div>

      <div class="col-12 col-md-6 col-xl-4   d-flex flex-column mb-xl-7">
        <svg width="48" height="48" class="mb-4">
          <use xlink:href="#icon-5" />
        </svg>
        <h2>Automático</h2>
        <p>
          illum asperiores quos officiis,
          est esse debitis ducimus rerum facere tempora atque. adipisicing elit. Velit iure rem cumque quidem
          unde neque quia corrupti doloribus,
        </p>
      </div>

      <div class="col-12 col-md-6 col-xl-4   d-flex flex-column mb-xl-7">
        <svg width="48" height="48" class="mb-4">
          <use xlink:href="#icon-6" />
        </svg>
        <h2>Integrado</h2>
        <p>
          Velit iure rem cumque quidem
          unde neque quia corrupti doloribus, illum asperiores quos officiis,
          est esse debitis ducimus rerum facere tempora atque.
        </p>
      </div>

    </div>
  </div>
</section>
