<section class="py-8">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-12 col-lg-6 order-1 order-lg-2 mb-6 mb-lg-0">
        <h4 class="text-primary">Orbit App</h4>
        <h2>Com Orbit App, você ganha autonomia, rapidez e muito dinheiro!</h2>
        <p class="text-in-light">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto minima
          blanditiis fugiat ipsa corporis optio consectetur amet eligendi officiis ducimus.
          Quibusdam illum nihil odit autem ipsam obcaecati repellendus repudiandae? Quaerat.
        </p>
      </div>

      <div class="col-12 col-lg-6 order-2 order-lg-1">
        <div class="video   w-100 rounded d-flex align-items-center justify-content-center">
          <svg>
            <use xlink:href="#play"/>
          </svg>
        </div>
      </div>

    </div>
  </div>
</section>
