<section class="pt-9 bg-light">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-12 col-md-10 col-lg-8 col-xl-6   mb-6 mb-xl-0">
        <h4 class="text-primary text-center text-lg-left">Download App</h4>
        <h2 class="text-center text-xl-left mb-5">Não perca mais tempo e faça o download agora mesmo.</h2>
        <div class="row justify-content-center align-items-center">
          <div class="col-10 col-sm-6   mb-3 mb-sm-0">
            <button class="w-100 btn btn-primary">
              Google Play
            </button>
          </div>
          <div class="col-10 col-sm-6   mb-3 mb-sm-0">
            <button class="w-100 btn btn-secondary">
              App Store
            </button>
          </div>
        </div>
      </div>

      <div class="iPhones   d-none d-sm-block  col-sm-12 col-md-10 col-lg-8 col-xl-6">
        <img src="../../../assets/images/iPhone_Gold.png" alt="iPhone_gold" class="w-75 iPhone1">
        <img src="../../../assets/images/iPhone_Silver.png" alt="iPhone_silver" class="w-75 iPhone2">
      </div>

    </div>
  </div>
</section>
